
<div th:replace="shared/header"></div>
<div class="box box-primary">
    <form role="form" method="post" th:action="@{'/'+${pageURI}}">
        <div class="box-body">
              
            <div class="form-group">
                <label>Product</label>
                <input type="text" name="product" th:value="${record.product}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Quantity</label>
                <input type="text" name="qty" th:value="${record.qty}" class="form-control" required/>
            </div>
            
            <div class="form-group">
                <label>Kooraa Price</label>
                <input type="text" name="kooraaPrice" th:value="${record.kooraaPrice}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Kaataa Price</label>
                <input type="text" name="kaataaPrice" th:value="${record.kaataaPrice}" class="form-control" required/>
            </div>       
            
<!--            <div class="form-group">
                <label>Kooraa By</label>
                <select name="kooraaBy" class="form-control" required/>
                <option value="">Select Karigar</option>
                <option th:each="karigar:${karigars}" th:value="${karigar.firstName}" th:text="${karigar.name}"></option>
                </select>
            </div>-->

            <div class="form-group">
                <label>Kooraa By</label>
                <select name="kooraaBy" class="form-control" required/>
                <option value="">Select Karigar</option>
                <option th:each="karigar:${karigars}" th:value="${karigar.firstName}"th:text="${karigar.firstName}"  th:selected="${karigar.firstName==record.kooraaBy}">Select Kaligar</option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Kaataa By</label>
                <select name="kaataaBy" class="form-control" required/>
                <option value="">Select Karigar</option>
                <option th:each="karigar:${karigars}" th:value="${karigar.firstName}"th:text="${karigar.firstName}"  th:selected="${karigar.firstName==record.kaataaBy}">Select Kaligar</option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Sold By</label>
                <select name="soldBy" class="form-control" required/>
                <option value="">Select Karigar</option>
                <option th:each="karigar:${karigars}" th:value="${karigar.firstName}"th:text="${karigar.firstName}"  th:selected="${karigar.firstName==record.soldBy}">Select Kaligar</option>
                </select>
            </div>
                    
<!-- private Date date;   
    private String product;
    private int qty;
    private int kooraPrice;
    private int kaataaPrice;
    private String kooraaBy;
    private String kaataaBy;
    private String soldBy;
    private String soldTo;
    private String status;
    private int investment;
    private int sellingPrice;
    private String note;-->  

            <div class="form-group">
                <label>Sold To</label>
                <input type="text" name="soldTo" th:value="${record.soldTo}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Status</label>
                <input type="text" name="status" th:value="${record.status}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Selling Price</label>
                <input type="text" name="sellingPrice" th:value="${record.sellingPrice}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Note</label>
                <input type="text" name="note" th:value="${record.note}" class="form-control" required/>
            </div>


        </div>

        <div class="box-footer">
            <input type="hidden" name="id" th:value="${record.id}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-success">Save</button>
            <a th:href="@{'/'+${pageURI}}" class="btn btn-danger">Back</a>
        </div>
    </form>
</div>
<div th:replace="shared/footer"></div>