
<div th:replace="shared/header"></div>
<div class="box box-primary">
    <form role="form" method="post" th:action="@{'/'+${pageURI}}">
        <div class="box-body">
            
            <div class="form-group">
                <label>Product</label>
                <input type="text" name="fullName" th:value="${record.product}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Quantity</label>
                <input type="email" name="email" th:value="${record.qty}" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>Kooraa By</label>
                <select name="kooraaBy" class="form-control" required/>
                <option value="">Select Karigar</option>
                <option th:each="karigar:${karigars}" th:value="${karigar.fullName}" th:text="${karigar.fullName}" th:selected="${karigar.fullName==record.kooraaBy}"></option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Kooraa Price</label>
                <input type="text" name="kooraaPrice" th:value="${record.kooraaPrice}" class="form-control" />
            </div>

            <div class="form-group">
                <label>Kaataa By</label>
                <select name="kooraaBy" class="form-control" required/>
                <option value="">Select Karigar</option>
                <option th:each="karigar:${karigars}" th:value="${karigar.fullName}" th:text="${karigar.fullName}" th:selected="${karigar.fullName==record.kaataaBy}"></option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Kaataa Price</label>
                <input type="text" name="kooraaPrice" th:value="${record.kaataaPrice}" class="form-control" />
            </div>

            <div class="form-group">
                <label>Sold By</label>
                <select name="soldBy" class="form-control"/>
                <option value="">Select Karigar</option>
                <option th:each="karigar:${karigars}" th:value="${karigar.fullName}" th:text="${karigar.fullName}" th:selected="${karigar.fullName==record.soldBy}"></option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Sold To</label>
                <input type="text" name="soldTo" th:value="${record.address}" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Status</label>
                <input type="text" th:value="${record.status}" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Selling Price</label>
                <input type="text" th:value="${record.sellingPrice}" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Note</label>
                <input type="text" th:value="${record.note}" class="form-control"/>
            </div>
        </div>

        <div class="box-footer">
            <input type="hidden" name="id" th:value="${record.id}"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" id="save" class="btn btn-success">Save</button>
            <a th:href="@{'/'+${pageURI}}" class="btn btn-danger">Back</a>
        </div>
    </form>
</div>
<div th:replace="shared/footer"></div>